<!DOCTYPE html>
<html>
<head>
    <title>Bladensburg SDA Church</title>
    <style>
        .centered {
            text-align: center;
            font-size: 20pt;
            font-weight: 700;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = "/KingdomKidsMinistry_RollsheetForm.htm";
        }, 10000);
    </script>
</head>
<body>
    <div style="width: 458px; height: 367px; margin: 0 auto;">
        <div class="centered">
            Bladensburg
        </div>
        <div class="centered">
            Seventh-Day Adventist Church
        </div>
        <div class="centered">
            Kingdom Kids Ministry
        </div>
        <div style="width: 441px; height: 211px; margin: 0 auto;">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Bladensburg Logo">
        </div>
    </div>
</body>
</html>
